@import "tailwindcss";

@theme {
  --default-font-family: "Playpen Sans Variable", cursive;

  --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
}

@layer base {
  body,
  html,
  #app {
    @apply h-full;
  }
}

@utility bg-parchment {
  background: url("/parchment-texture.jpg") center/cover no-repeat;
}
